<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<connectionStrings>
    <add name="MRMISGADBConnect" connectionString="Data Source=184.168.194.70;User Id=mrmisgadb;Password=mR!MiSgA6;" />
  </connectionStrings>

	<appSettings>
		<add key="Club" value="Musket Ridge Golf Club" />
		<add key="Org" value="Musket Ridge MISGA" />
		<add key="Rep" value="Tom Rowlett" />
		<add key="RepEmail" value="tom.rowlett@gmail.com" />
		<add key="OrgURL" value="http://mrmisga.org" />
		<add key="WebSiteName" value="Musket Ridge MISGA Web Site" />
		<add key="FromEmailAddress" value="playerslist@mrmisga.org" />
		<add key="Website" value="MRMISGA.ORG" />
		<add key="WebMaster" value="Tom Rowlett" />
		<add key="WebMasterEmail" value="tom.rowlett@gmail.com" />
		<add key="DaysToShow" value="90"/>
    <add key="ShirtDeadline" value="4/19/2016" />
    <add key="MensDefaultShirtColor" value="University Blue/White"/>
    <add key="WomensDefaultShirtColor" value="Chalk Blue/White" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>