body 
{
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.revieworder {
	}
.revieworder h3, h4, p {
	margin: 5px 0px 2px 0px;
	padding: 0px 0px 0px 0px;
	}
.revieworder table {
	font-size: 1.0em;
		border: 1px black solid;
		border-collapse: collapse;
		margin: 5px 5px 5px 5px;
		background-color: #FFFFF0;
		}
.revieworder th {
		border: 1px black solid;
		padding: 1px 3px 1px 3px;
		color: Black;
		}
.revieworder td {
		border: 1px black solid;
		padding: 3px 3px 3px 3px;
		color: Maroon;
		}
.revieworder a:hover {
	background-color: #000099;
	color: #FFFF00;
	}
.ddl 
{
	background-color: #FFFFF0;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 1.1em;
	font-weight: 900;
	width: 350px;
	color: #b22222;
}
.orderbutton 
{
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 1.1em;
	font-weight: 900;
	width: 200px;
/*	color: #b22222;  */
	color: #FFFFF0;
	background-color: #b22222;
}

.SeqNo 
{
	width: 60px;
	text-align: center;
}
.CustID 
{
	width: 150px;
	text-align: left;
}
.Qty 
{
	width: 40px;
	text-align: center;
}
.Style 
{
	width: 225px;
	text-align: center;
}
.Size 
{
	width: 100px;
	text-align: center;
}
.Color 
{
	width: 120px;
	text-align: center;
}
.Date 
{
	width: 100px;
	text-align: center;
}
.CancelHdr
{
	color: Black;
	width: 70px;
	text-align: center;
}
.Cancel 
{
	width: 70px;
	text-align: center;
	color: Black;
}
	
.home {
		background-color: #FFFFCC;
		color: black;
		}
.normal {
		background-color: white;
		color: navy;
		}
.away {
		background-color: #CCFFFF;
		color: black;
		}
.misga {
		background-color: white;
		color: navy;
		}
.selectcol 
{
	width: 3.6em;
	text-align: center;
}
.datecol {
		width: 5.8em;
		text-align: left;
		}
.hacol	{
		width: 3em;
		text-align: center;
		}		
.clubcol	{
		width: 18em;
		text-align: left;
		}
.costcol {
		width: 2.5em;
		text-align: center;
		}
.timecol {
		width: 3em;
		text-align: center;
		}
.para_indent {
		margin-left: 1em;
		}
		
